main {
    background-image: url("/background/Daniel Leone - Unsplash.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.sectionText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;

    .left {
        text-align: left;
    }

    .right {
        text-align: right;
    }

    .right,
    .left {
        width: 100%;
        max-width: 750px;
    }
}

.bigText {
    font-size: 50px;
    display: inline-block;
}

.bigText.bold {
    font-weight: bold;

}

.front {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.box {
    background-color: var(--boxFrame);
    /* box-shadow: 0 0 10px 15px var(--boxFrame); */
    color: var(--text2Color);
    width: 100%;
}

.contentWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textContainer {
    display: flex;
    gap: 15px;
}

section.secondary {
    background-color: var(--secondaryColor);
    color: var(--text2Color);
    /* box-shadow: 0 0 10px 15px var(--secondaryColor); */
}

@media screen and (max-width: 784px) {
    .textContainer {
        display: inline-block;
        text-align: center;
        word-spacing: 15px;
    }

    .box {
        transform: translateY(40px);
    }

    .sectionText {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        .left,
        .right {
            width: 100%;
            text-align: center;
        }
    }

    .preview {
        width: auto;
        height: auto;
    }
}